---
import { ViewTransitions } from "astro:transitions";
import { SITE } from "@/config";
import "@/styles/global.css";
import faviconRaw from "@/assets/favicon.svg?raw";

const { title = SITE.title, description = SITE.desc } = Astro.props;
const favicon = `data:image/svg+xml,${encodeURIComponent(faviconRaw)}`;
---

<!doctype html>
<html lang={SITE.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
